<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 아래와 같은 내용 <p id="test1">{{ num }}</p> -->
        <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else="loading">
            test user has been logged in
        </div>
        <div v-show="loading">
            Loading...
        </div>
        <!-- todo: 인풋박스를 만들고 입력된 값을 p태그에 출력 -->
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // var input = document.querySelector('input');
        // var input = $('input');
        
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'test1',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            //data의 값에 따라 바뀌는 값을 정의할 ㅅ때
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        });
    </script>
</body>
</html>